<template>

    <div>
        <div class="alert alert-warning alert-dismissible fade show mb-0" v-if="errText !== ''">
            {{errText}}
        </div>
        <div class="form-group">
            <label class="control-label">ปีงบประมาณ</label>
            <input type="text" v-model="budgetyear" readonly class="vdatetime-input"/>
        </div>
        <div class="form-group">
            <label class="control-label">รอบบิลเดือน</label>
            <select class="form-control" v-model="inv_period_name">
                <option v-for="month in months" :key="month.id" :value="month.value">
                    {{month.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">วันที่เริ่มรอบบิล</label>
            <datetime type="date" v-model="fromdate" value-zone="local" zone="local" :auto="true" class="theme-orange">
            </datetime>
        </div>
        <div class="form-group">
            <label class="control-label">วันที่สิ้นสุดรอบบิล</label>
            <datetime type="date" v-model="enddate" value-zone="local" zone="local" :auto="true" class="theme-orange">
            </datetime>
        </div>
        <div class="form-group">
            <label class="control-label">สถานะ</label>
            <select class="form-control" v-model="status">
                <option value="active" :selected="status ==='active'">รอบบิลปัจจุบัน</option>
                <option value="inactive" :selected="status ==='inactive'">สิ้นสุดรอบบิล</option>
            </select>
        </div>
     
        <button type="button" @click="saveData()"  class="btn btn-pill btn-accent d-table mx-auto">บันทึก</button>
    </div>
</template>


<script>
import Vue from 'vue'
import { Datetime } from 'vue-datetime';
import 'vue-datetime/dist/vue-datetime.css'
import { Settings } from 'luxon';
Settings.defaultLocale = 'th'

export default {
    props:['mode', 'id'],
    mounted(){
        this.getPresentBudgetYear();
        setTimeout(()=>{
            if(this.mode === "edit")
            this.getData();
        },100)
        
    },
    components:{
        datetime: Datetime,
        Settings
    },
    data(){
        return{
            fromdate: '',
            enddate: '',
            budgetyear:'',
            budgetyearArr: [],
            inv_period_name: '',
            status: 'inactive',
            errText:'',
            months:[
                {"value": '01','name':'มกราคม'},
                {"value": '02','name':'กุมภาพันธ์'},
                {"value": '03','name':'มีนามคม'},
                {"value": '04','name':'เมษายน'},
                {"value": '05','name':'พฤษภาคม'},
                {"value": '06','name':'มิถุนายน'},
                {"value": '07','name':'กรกฎาคม'},
                {"value": '08','name':'สิงหาคม'},
                {"value": '09','name':'กันยายน'},
                {"value": '10','name':'ตุลาคม'},
                {"value": '11','name':'พฤศจิกายน'},
                {"value": '12','name':'ธันวาคม'},
            ]
        }
    },
    methods:{
        getPresentBudgetYear(){
            axios.get('/api/invoice_peroid/prensent_budgetyear').then(res=>{
                if(res !== null){
                    this.budgetyearArr = res.data;
                    this.budgetyear =this.budgetyearArr.budgetyear
                }else{
                    errText = "ยังไม่มีการตั้งค่าปีงบประมาณ"
                }
                    
            },err=>{
                console.log(JSON.stringify(err))
            })
        },
        getData(){
            axios.get('/api/invoice_peroid/edit/'+this.id).then(res=>{
                console.log(res.data)
                this.fromdate = res.data.startdate;
                this.enddate = res.data.enddate;
                this.budgetyear = res.data.budgetyear.budgetyear
                this.inv_period_name = this.cut_inv_period_name(res.data.inv_period_name)
                this.status = res.data.status
            },err=>{
                console.log(JSON.stringify(err))
            })
        },
        cut_inv_period_name(inv_period_name){
            let month = inv_period_name.split("-")
            return month[0]
        },
        saveData(){
            const DateTime = require('luxon').DateTime
            const fromdate = DateTime.fromISO(this.fromdate).setLocale('es').toFormat('yyyy-MM-dd') 
            const enddate = DateTime.fromISO(this.enddate).setLocale('es').toFormat('yyyy-MM-dd') 
            // axios.get('/api/invoice_peroid/find_active_status').then(res=>{
            //     if(res.data.active_budgetyear >0 && this.status === 'active'){
            //         this.errText = 'มีการกำหนดสถานะ รอบบิลปัจจุบันแล้ว'
            //     }else{
                    console.log(this.mode)
                    this.errText = ''
                     if(this.mode === 'create'){
                        console.log(this.budgetyear.budgetyear)
                        axios.post('/api/invoice_peroid/store',{
                            'budgetyear_id': this.budgetyearArr.id,
                            'inv_period_name': this.inv_period_name+"-"+this.budgetyearArr.budgetyear.substring(2, 4),
                            'fromdate': fromdate,
                            'status': this.status,
                            'enddate': enddate
                        }).then(res=>{
                            if(res.data.status === 200)
                                window.location.href = "../";
                        },error=>{
                            console.log(JSON.stringify(error))
                        })
                    }else if(this.mode === 'edit'){
                        axios.post('/api/invoice_peroid/update',{
                            'budgetyear_id': this.budgetyearArr.id,
                            'inv_period_name': this.inv_period_name+"-"+this.budgetyearArr.budgetyear.substring(2, 4),
                            'fromdate': fromdate,
                            'enddate': enddate,
                            'status': this.status,
                            'id': this.id
                        }).then((res)=>{
                            console.log(res)
                            if(res.data.status === 200)
                                window.location.href = "../";
                        },error=>{
                            console.log(JSON.stringify(error))
                        })
                    }
                // }
            // }, err =>{ console.log(JSON.stringify(err)) })
           
        }
    }

}
</script>

<style>
/* select.form-control:not([size]):not([multiple]) {
    height: calc(2.59375rem + 2px);
} */
.theme-orange .vdatetime-popup__header,
.theme-orange .vdatetime-calendar__month__day--selected > span > span,
.theme-orange .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #FF9800;
}

.theme-orange .vdatetime-year-picker__item--selected,
.theme-orange .vdatetime-time-picker__item--selected,
.theme-orange .vdatetime-popup__actions__button {
  color: #ff9800;
}
.vdatetime-popup {
    box-sizing: border-box;
    z-index: 1000;
    position: fixed;
    width: 340px;
    max-width: calc(100% - 30px);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
    color: #444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.18;
    background: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
select{
    text-align: center;
text-align-last: center;
}
select.form-control:not([size]):not([multiple]){
height: calc(2.7rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}
elect.form-control:not([size]):not([multiple]) option{
            text-align: center
    }

input.vdatetime-input {
  display: block;
    width: 100%;
    height: calc(2.7rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

}
</style>
