<template>
  <div>
      <div class="row">
          <div class="col-md-4">
            <h3>ชื่อเจ้าหนาที่ประปา</h3>
            <v-select :options="options" label="text" v-model="selected" :value="selected">
            </v-select>

            <span v-html="errTxt"></span>

          </div>
          <div class="col-md-8">
            <h3 id="examples">ชื่อหมู่บ้าน</h3>
            <div class="ct-example">
                <div class="tab-component">
                    <drag-selector v-model="checkedList" @change="handleDragSelectorChange" class="drag-selector">
                        <drag-selector-item v-for="(item) in myDragList"
                                            :value="item"
                                            :key="item.value" class="drag-selector__item">
                            {{ item.name }}
                        </drag-selector-item>
                    </drag-selector>
                </div>
                
            </div>
            
          </div>
      </div>
        <div class="text-center">

        <button class="btn btn-primary btn-lg" @click="uploadData">บันทึก</button>

        </div>
        <!-- {{ checkedList }}
        {{selected}}
        <br>
        {{resp}} -->
    </div>
</template>

<script>
export default {
    props: ['id'],
    mounted(){
        this.addOptions();
    },
    data() {
        return {
            checkedList: [],
            myDragList: [],
            options: [],
            selected: [],
            resp: [],
            errTxt: "",
            responsed_areas : []
        };
    },
    methods: {
        handleDragSelectorChange(checkedList) {
        },
        tabwatermanSelected(selected) {
            // ดึงข้อมูลหมู่บ้านที่เจ้าหน้าที่ที่ถูกเลือกรับผิดชอบ
            
            // axios.get('/users/'+selected['value'])
        },
        addOptions(){ 
            //ดึงข้อมูลหมู่บ้านมาแสดง
            var apiVillage = '/api/zone';
            axios.get(apiVillage).then((res) =>{
                this.myDragList = res.data
            });
                //ดึง เจ้าหน้าที่ประปา มาแสดง
            var apiUrl = '/api/tabwaterman'
            axios.get(apiUrl).then((res)=>{
                this.options = res.data
            });
        },
        uploadData(){
            this.errTxt ="";
            this.errTxt +="<ul>"
            if(this.selected.length == 0){
                this.errTxt += "<li>ยังไม่เลือกเจ้าหน้าที่</li>"
            }
            if(this.checkedList.length == 0){
                this.errTxt += "<li>ยังไม่เลือกหมู่บ้าน</li>"
            }
            this.errTxt += "</ul>"

            axios.post('/api/tabwaterman_per_area',{
                    "tabwaterman": this.selected,
                    "selectedzone": this.checkedList
            }).then((res) =>{
                console.log(res.data)
                this.resp = res.data
                window.location.href = '/tabwaterman_per_areas';
            })
        }
    }
};
</script>

<style>
.drag-selector-item-wrapper[data-v-0fb7bc38] {
    cursor: move;
}

.drag-selector__item.selected {
    background-color: #FF4081;
}
.drag-selector__item {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #03A9F4;
    color: white;
}
h3 {
    /* smargin-top: 2.5rem; */
    font-size: 1.25rem;
    font-weight: 600;
}
.ct-example{
    margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #e9ecef;
}
.tab-component{
    background-color: #f5f7f9;
    border: 1px solid #e6ecf1;
    padding: .5rem;
    border-radius: .25rem;
}
</style>
