<template>
    <div>
      <div v-if="show" class="alert alert-success alert-dismissible fade show mb-4 mt-4" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="fa fa-check mx-2"></i>
            <strong>{{resText}}</strong>
        </div>
        <div class="row">
          
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom flex">
                    <!-- <h6 class="m-0">Active Users</h6> -->
                    <a :href="'/tabwater_user_category/create'" class="btn btn-primary fa-pull-right">เพิ่มข้อมูล</a>
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">#</th>
                          <th scope="col" class="border-0">ประเภทผู้ใช้น้ำ</th>
                          <th scope="col" class="border-0">ราคาต่อหน่วย </th>
                          <th scope="col" class="border-0">จำนวนหน่วย</th>
                          <th scope="col" class="border-0">ชื่อหน่วย</th>
                          <th scope="col" class="border-0">วันที่บันทึก</th>
                          <th scope="col" class="border-0"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in tw_usr_cate" :key="item.id" >
                          <td>{{item.id}}</td>
                          <td class="text-left">{{item.tab_usr_cate_name}}</td>
                          <td>{{item.price_per_unit}}</td>
                          <td>{{item.unit_num}}</td>
                          <td>{{item.unit_name}}</td>
                          <td>{{item.created_at}}</td>
                          <td>
                            <a :href="'/tabwater_user_category/'+item.id+'/edit'" class="btn btn-warning">แก้ไข</a>
                            <button v-on:click="deleteData(item.id)"   class="btn btn-danger">ลบ</button>
                          </td>
                        </tr> 
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    </div>
</template>

<script>
export default {
    mounted() {
        this.getTabwaterUserCategory()
        console.log('Component mounted.')
    },methods:{
        getTabwaterUserCategory(){
            axios.get('/api/tabwater_user_category')
            .then(res =>{
               this.tw_usr_cate = res.data
            })
        },
        deleteData(del_id){
          var r = confirm("Press a button!");
          if (r == true) {
            axios.get('/api/tabwater_user_category/'+del_id+'/delete').then((res)=>{
              this.resText =res.data
              this.show = true
            })
          }
        }
    },data(){
        return{
            tw_usr_cate:{},
            resText:'',
            show:false
        }
    }
}
</script>

<style>

</style>