<template>
    <div>
        <div class="col-sm-12 col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <strong class="text-muted d-block mb-2">ชื่อประเภทผู้ใช้น้ำ</strong>
                        <input type="text" class="form-control is-valid" id="tabwatermetertype"
                            placeholder="ตัวอย่าง : อัตราก้าวหน้า, อัตราคงที่ , รักษามิเตอร์" v-model="tw_usr_cate_name" required>
                    </div>
                    <div class="form-group col-md-2">
                        <strong class="text-muted d-block mb-2">ราคาต่อหน่วย</strong>
                        <input type="text" class="form-control is-valid" id="price_per_unit" placeholder="ตัวอย่าง : 8.25"
                            v-model="price_per_unit" required>
                    </div>
                    <div class="form-group col-md-2">
                        <strong class="text-muted d-block mb-2">จำนวนหน่วย</strong>
                        <input type="text" class="form-control is-valid" id="unit_num" placeholder="ตัวอย่าง : 1, 2.5 , 10"
                            v-model="unit_num" required>
                    </div>
                    <div class="form-group col-md-2">
                        <strong class="text-muted d-block mb-2">ชื่อหน่วย</strong>
                        <input type="text" class="form-control is-valid" id="unit_name" placeholder="ตัวอย่าง : ลิตร, วัน, เดือน"
                            v-model="unit_name" required>
                    </div>
                    <div class="form-group col-md-2">
                        <strong class="text-muted d-block mb-2">&nbsp;</strong>
                        <button v-on:click="updateData()" class="btn btn-primary">บันทึก</button>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted(){
        this.test()
    },
    methods:{
        test(){
            alert()
        },
        updateData(){
            alert()
            var data = {
               tabwatermetertype: this.tw_usr_cate_name,
                price_per_unit : this.price_per_unit,
                unit_num: this.unit_num,
                unit_name: this.unit_name
            }
            console.log('data',data)
            axios.post("/api/tabwater_user_category/store",data).then((res)=>{
                console.log(res.data)
                window.location.href = '/tabwater_user_category'
            })
        }
    }
    ,data(){
        return{
            tw_usr_cate_name : '',
            price_per_unit : null,
            unit_num : null,
            unit_name : ''
        }
    }
}
</script>