<template>

<div class="row">
    <div class="col-lg-4">
        <div class="card card-small mb-4 pt-3">
            <div class="card-header border-bottom text-center">
                <div class="mb-3 mx-auto">
                    <img class="rounded-circle" :src="'../../shards/images/avatars/0.jpg'" alt="User Avatar"
                        width="110"> </div>
                <h4 class="mb-0">{{invoice.users.user_profile.name }}</h4>
                <span class="text-muted d-block mb-2">สมาชิกผู้ใช้น้ำประปาsss</span>
                <!-- <button type="button" class="mb-2 btn btn-sm btn-pill btn-outline-primary mr-2">
                    <i class="material-icons mr-1">person_add</i>Follow</button> -->
            </div>
            <ul class="list-group list-group-flush">
                <!-- <li class="list-group-item px-4">
                    <div class="progress-wrapper">
                        <strong class="text-muted d-block mb-2">ทีอยู่</strong>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="74" aria-valuemin="0"
                                aria-valuemax="100" style="width: 74%;">
                            </div>
                        </div>
                    </div>
                </li> -->
                <li class="list-group-item p-4">
                    <strong class="text-muted d-block mb-2">{{invoice.users.user_profile.address}}</strong>
                    <span>โทร. {{invoice.users.user_profile.phone}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">Account Details</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <div class="row">
                        <div class="col">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="feFirstName">รอบบิลที่</label>
                                    <input type="text" class="form-control"
                                        v-model="invoice.invoice_period.inv_period_name"> </div>
                                <div class="form-group col-md-6">
                                    <label for="feLastName">ยอดจดครั้งก่อน</label>
                                    <input type="text" class="form-control" v-model="invoice.lastmeter"> </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <label for="feEmailAddress">ยอดจดปัจจุบัน</label>
                                    <input type="text" class="form-control" v-model="invoice.currentmeter"> </div>
                                <div class="form-group col-md-3">
                                    <label for="fePassword">จำนวนน้ำที่ใช้</label>
                                    <input type="text" class="form-control" v-model="invoice.used_water_net"> </div>
                                <div class="form-group col-md-3">
                                    <label for="feInputAddress">ราคา:หน่วย</label>
                                    <input type="text" class="form-control"
                                        v-model="invoice.users.usermeter_info.counter_unit"> </div>
                                <div class="form-group col-md-3">
                                    <label for="feInputCity">คิดเป็นเงิน</label>
                                    <input type="text" class="form-control" v-model="invoice.must_paid"> </div>
                            </div>
                            <button type="submit" class="btn btn-accent">บันทึก</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card card-small col-lg-12 mp4" v-if="invoice.owe.length > 0">
        <div class="card-header border-bottom">
            <h6 class="m-0">รายการค้างชำระ</h6>
        </div>
        <div class="card-body p-0 pb-3 text-center">
            <table class="table mb-0">
                <thead class="bg-light">
                    <tr>
                        <th scope="col" class="border-0">#</th>
                        <th scope="col" class="border-0">รอบบิลที่</th>
                        <th scope="col" class="border-0">ยอดจดครั้งก่อน</th>
                        <th scope="col" class="border-0">ยอดจดปัจจุบัน</th>
                        <th scope="col" class="border-0">จำนวนน้ำที่ใช้</th>
                        <th scope="col" class="border-0">คิดเป็นเงิน</th>
                        <td scope="col" class="border-0"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(owe, index) in invoice.owe" :key="index">
                        <td>{{++index}}</td>
                        <td>{{owe.invoice_period.inv_period_name}}</td>
                        <td>{{owe.lastmeter}}</td>
                        <td>{{owe.currentmeter}}</td>
                        <td>{{owe.used_water_net}}</td>
                        <td>{{owe.must_paid}}</td>
                        <td scope="col" class="border-0">
                            <a :href="'/invoice/edit/'+owe.id" class="mb-2 btn btn-sm btn-info mr-1">แก้ไข</a>
                            <a v-if="invoice.status !== 'init'" href=""
                                class="mb-2 btn btn-sm btn-primary mr-1">ปริ้นใบแจ้งหนี้</a>
                            <a v-if="invoice.status === 'invoice'" :href="'../invoice/paid/'+owe.id"
                                class="mb-2 btn btn-sm btn-success mr-1">ชำระเงิน</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</template>

<script>
export default {
    props:['id'],
    mounted(){
        console.log('paid invoice')
        this.getInvoices()
    },
    methods:{
        getInvoices(){
            console.log('getInvoice')
            axios.get('../../api/invoice/'+this.id).then(response =>{
                console.log(response.data)
                this.invoice = response.data
                console.log(this.invoice)
            },
            error=>{
                console.log(JSON.stringify(error))
            });
        }
    },
    data(){
        return{
            invoice :[],
            inv_paid:{
                "inv_period" :'',
                "lastrecord" : null,
                "currentrecord": null,
                "netused": null,
                "price_per_unit": null,
                "total_money": null
            }
        }
    }
}
</script>

<style scoped>

</style>