<template>
    <div class="row">
        <div class="col-md-8">
            <OfficerForm :user_infos="user_infos"></OfficerForm>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
            <div class="card card-small">
                <div class="card-header border-bottom">
                    <h6 class="m-0">เกี่ยวมิเตอร์</h6>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-small list-group-flush">
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">เลขที่ผู้ใช้น้ำประปา</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray">
                    <input type="text" class="form-control" v-model="meter_infos.tw_user_id">
                            </span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">ประเภทมิเตอร์</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray">
                    <input type="text" class="form-control" v-model="meter_infos.meterType">
                            </span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">หน่วยวัดล่าสุด</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray">
                    <input type="text" class="form-control" v-model="meter_infos.unit">
                            </span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">ขนาดมิเตอร์</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray">
                    <input type="text" class="form-control" v-model="meter_infos.metersize">
                            </span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">เลขมิเตอร์</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray">
                    <input type="text" class="form-control" v-model="meter_infos.meternumber">
                            </span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">พื้นที่จัดเก็บ</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray">
                    <input type="text" class="form-control" v-model="meter_infos.zone">
                            </span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">เส้นทางจัดเก็บ</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray">
                    <input type="text" class="form-control" v-model="meter_infos.subzone">
                            </span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">วันที่ขอใช้น้ำ</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray">
                    <input type="text" class="form-control" v-model="meter_infos.acceptance_date">
                            </span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">วิธีชำระเงิน</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray">
                    <input type="text" class="form-control" v-model="meter_infos.payment">
                            </span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <span class="text-semibold text-fiord-blue">ประเภทผู้ได้ส่วนลด</span>
                            <span class="ml-auto text-right text-semibold text-reagent-gray">
                    <input type="text" class="form-control" v-model="meter_infos.discounttype">
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--roow-->
    </div>
</template>

<script>
import OfficerForm from './OfficerForm';

export default {
    props:['meter_infos', 'user_infos'],
    mounted(){
        console.log('memberForm')
    },
    components:{
        OfficerForm
    }
}
</script>