<template>
<div class="flex-container">
    <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
        <div class="card card-small">
            <div class="card-header border-bottom">
                <h6 class="m-0">Top Referrals</h6>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-small list-group-flush">
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">username</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">
                            <input type="text" class="form-control" v-model="user_infos.username">
                        </span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">password</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">
                            <input type="text" class="form-control" v-model="user_infos.password">
                        </span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">รูปถ่าย</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">
                            <input type="file" class="form-control" style="width:230px">
                        </span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">ชื่อ</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">
                            <input type="text" class="form-control" v-model="user_infos.name">
                        </span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">สกุล</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">
                            <input type="text" class="form-control" v-model="user_infos.lastname">
                        </span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">เพศ</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">
                            <select class="custom-select custom-select-sm" v-model="user_infos.sex">
                                <option>เลือก...</option>
                                <option value="m">ชาย</option>
                                <option value="w">หญิง</option>
                            </select>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
        <div class="card card-small">
            <div class="card-header border-bottom">
                <h6 class="m-0">Top Referrals</h6>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-small list-group-flush">
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">เลขที่บัตรประชาชน</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">
                            <input type="text" class="form-control" v-model="user_infos.idcard">
                        </span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">เบอร์โทร</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">
                            <input type="text" class="form-control" v-model="user_infos.phone">
                        </span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">email</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">
                            <input type="email" class="form-control" v-model="user_infos.email">
                        </span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">ที่อยู่</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">
                            <input type="text" class="form-control" v-model="user_infos.adress" style="width:260px">
                            <p class="flex-container"> 
                                <input type="text" class="form-control" value="เลิงนกทา" readonly>
                                <input type="text" class="form-control" value="ยโสธร" readonly >
                            </p>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
     props:[
        'user_infos', 'show_lastdivrow'
    ],
}
</script>

<style scoped>
.flex-container {
  display: flex;
}
.flex-container input{
    width: 129px;
    text-align: right
}
</style>