<template>
    <userCreate :id="id" :user_cat_id="user_cat_id"></userCreate>
</template>

<script>
import userCreate from './userCreate';
export default {
    components:{userCreate},
    props:['id', 'user_cat_id']
}
</script>