<template>
    <div>
            <div class="form-group col-md-3">
                <label class="control-label" >เลือกประเภทผู้ใช้งาน</label>
                <select v-model="selected" class="form-control">
                    <option v-bind:value="''">เลือก...</option>
                    <option v-for="option in options" :key="option.id" v-bind:value="option.id" >
                        {{option.user_cate_name}}
                    </option>
                </select>
            </div>
            
            <div>
                <div v-if="selected === 1">
                    <OfficerForm :user_infos="user_infos"></OfficerForm>
                </div>
                <div v-if="selected === 2">
                    <OfficerForm :user_infos="user_infos"></OfficerForm>
                </div>
                <div v-if="selected === 3">
                    <memberForm :meter_infos="meter_infos" :user_infos="user_infos"></memberForm>
                </div>
                <div v-else-if="selected ===4">
                    <OfficerForm :user_infos="user_infos"></OfficerForm>
                </div>
            </div>
            <br>
            <div class="col-md-3 ">
                <button type="button" v-if="selected != ''" @click="checkform" class="btn btn-primary">บันทึก</button>
            </div>
    </div>
</template>

<script>
import memberForm from './memberForm';
import OfficerForm from './OfficerForm';
export default {
    mounted(){
        console.log('user create')
        console.log(this.id)
        this.getUserCategory()
        if(this.id !== null && this.user_cat_id !== null){
            this.editUser()
        }else{

        }
    },
    components: {
        memberForm,
        OfficerForm
    },
    props:[
        'id', 'user_cat_id'
    ],
    data(){
        return {
            selected: this.id,
            options: [],
            user_infos:{
                usercategory:this.selected,
                name:'',
                lastname:'',
                username:'',
                password:'',
                sex:'',
                idcard:'',
                phone:'',
                email:'',
                address:'',
            },
            meter_infos:{
                tw_user_id:null,
                meter_type:null,
                metersize:null,
                unit:null,
                meternumber:'',
                zone:null,
                subzone:null,
                acceptance_date:'',
                payment:null,
                discounttype:null

            }
        }
    },
    methods:{
        getUserCategory(){
            axios.get('/api/usercategory').then(response =>{
                this.options = response.data
            }); 
        },
        editUser(){
            console.log('showFormByUsercategory')
        },
        checkform(){
            axios.post('/api/users/store',{'user_infos':this.user_infos, 'meter_infos':this.meter_infos}, {headers: {'Accept': 'application/json'}})
            .then(response=>{
                console.log(response.data)
            });
        }
    }
}
</script>

<style scoped>

</style>